@import "tailwindcss";

@theme {
  --color-brand: #00ffff;
  --color-brand-muted: #0088aa;
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
